---
import { getPdsAgent } from "@fujocoded/authproto/helpers";
import Page from "../layouts/Page.astro";
import EmojiForm from "../component/EmojiForm.astro";
import EmojiSet from "../component/EmojiSet.astro";
import Loader from "../component/Loader.astro";
import type { EmojiSet as EmojiSetType } from "../utils/emojis";

const loggedInUser = Astro.locals.loggedInUser;
const TEST_HANDLE = "essentialrandom.bsky.social";

const user = loggedInUser ? loggedInUser.did : TEST_HANDLE;
const agent = await getPdsAgent(loggedInUser ? { loggedInUser } : { didOrHandle: TEST_HANDLE });
const response = await agent?.com.atproto.repo.listRecords({
	repo: user,
	collection: "com.fujocoded.astrolabe.emojiset",
});

const emojiSets = response?.data.records ?? [];
---
<Page>
	<h1>Custom Emojis</h1>
	{emojiSets.length === 0 && <p>No emojis yet... go upload some!!</p>}

	{emojiSets.map(async ({ uri, value }) => (
		<EmojiSet emojiSet={value as EmojiSetType} user={user} uri={uri} server:defer>
			<div slot="fallback">
				<Loader />
			</div>
		</EmojiSet>
	))}

	<section class="preview">
		<h2>Preview</h2>
		{/* <select name="changeSet" id="change-set">
			{emojisets.map(({ uri }) => {
				const { rkey } = new AtUri(uri);
				return (
					<option value={rkey}>{rkey}</option>
				)
			})}
		</select> */}
		<iframe title="Preview window for Astrolabe" src="https://astrolabe-editor.netlify.app/iframe.html?args=&globals=&id=astrolabe-emoji--editable-multiple-sets&viewMode=story"></iframe>
	</section>
	
	{loggedInUser && (
		<hr />
		<h1>Make a new emoji</h1>
		<EmojiForm />
	)}
</Page>

<style>
	.preview {
    display: flex;
    flex-flow: column wrap;
    gap: var(--size-1);

    iframe {
      flex: 1;
      width: 100%;
      border: none;
      min-height: 220px;
    }
  }
</style>