---
import { Image } from 'astro:assets';
import { IdResolver } from '@atproto/identity';
import type { Emoji } from '../utils/emojis';

interface Props {
  emoji: Emoji;
  user: string;
}

const { emoji, user } = Astro.props;

const ID_RESOLVER = new IdResolver();
let did: string;
if (!user.startsWith("did:")) {
  const resolvedDid = await ID_RESOLVER.handle.resolve(user);
  did = resolvedDid!;
} else {
  did = user;
}
const atproto = await ID_RESOLVER.did.resolveAtprotoData(did);
const pdsUrl = atproto.pds;

const url = new URL("/xrpc/com.atproto.sync.getBlob", pdsUrl);
let alt: string | undefined;
url.searchParams.set("did", did);
if (!emoji.embeds) {
  // @ts-expect-error this is old behavior
  url.searchParams.set("cid", emoji.image.image.ref.$link);
  // @ts-expect-error this is old behavior
  alt = emoji.image.alt;
} else {
  // @ts-expect-error the type is expecting a blob when the result is actually a ref here
  url.searchParams.set("cid", emoji.embeds[0].image.ref);
  alt = emoji.embeds[0].alt;
}
---

<article class="card">
  <Image src={url.toString()} alt={alt ?? emoji.fallback ?? emoji.shortcode} inferSize={true} />
  <pre>:{emoji.shortcode}:</pre>
  {(emoji.description || emoji.fallback) && (
    <p>{emoji.description ?? emoji.fallback}</p>
  )}
</article>

<style>
  .card {
    display: flex;
    flex-flow: column wrap;
    gap: var(--size-1);
    padding: var(--size-2);
    background-color: var(--gray-0);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
    text-align: center;
    
    pre {
      background-color: color-mix(in oklab, var(--secondary) 50%, transparent);
      border-radius: var(--radius-2);
    }

    img {
      align-self: center;
      height: auto;
      margin: 0 auto;
      object-fit: cover;
      object-position: center;
      aspect-ratio: var(--ratio-square);
      border-radius: var(--radius-1);
    }
  }
</style>